#marginBottomRow {
  margin-bottom:0;
}
#paddingCol {
  padding:0;
}

/* Index.php */
#titleNav {
    font-weight: bold;
    font-size: 4vw;
    text-transform: uppercase;
    background: linear-gradient(to right, #0a5b48, rgba(255, 255, 255, 0.7));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav ul a.btn, nav ul a.btn-large, nav ul a.btn-small, nav ul a.btn-large, nav ul a.btn-flat, nav ul a.btn-floating {
    margin-top: 0px;
}

.btn-floating {
    background-color:#706452;
}

#presentationCard {
    margin-top: 30px;
    border:solid 3px;
    border-radius:5px;
}

#picturePresentation {
    background-image: url('../img/françoise.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transform: rotate(180deg);
}

.CvCategories {
  border:1px solid black;
  border-radius:10px;
}

blockquote {
  font-size:25px;
  background-color:whitesmoke;
  border:solid 3px white;
  border-radius:20px;
  font-family: 'Satisfy', cursive;
}

.h2 {
    font-size: 4vw;
    font-weight: bold;
}

.paintinFooter {
    width: 4vw;
    height: 4vw;
}

/* Connection.php */

#connectionBase {
  background-image:url('../img/fondConnectionForm.jpg');
  background-size: cover;
    width: 23rem;
    height: 35rem;
    margin-top: 200px;
    border-radius: 5px;
    box-shadow: 10px 5px 5px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputConnectionForm {
  background-color:rgba(255, 255, 255, 0.459);
  border:10px solid rgba(255,255,255,0.459);
  border-radius:10px;
}

/* Galerie.php */

.paintinCardGalerie {
    width: 100%;
    height: 100%;
    border:solid 3px;
    border-radius: 5px;
}

.titleOfCategory {
    font-weight: bold;
    font-size:25px;
}

.dimensionFont {
    font-weight: bold;
}

/* 404.php */
#body404page {
  background-image:url('../img/fond404.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#error404 {
  font-family: 'Luckiest Guy', cursive;
  color:#fed700;
  text-shadow: 5px 5px #45070c;
}

#pageNotFound {
  font-size:23px;
  font-family: 'Luckiest Guy', cursive;
  color:#fed700;
  text-shadow: 3px 3px #45070c;
}

#buttonError {
  background-color:#fa338e;
  font-family: 'Luckiest Guy', cursive;
  font-size: 20px;
  text-shadow: 3px 3px black;
}

/* admin.php */

#adminTitle {
  font-family: 'IBM Plex Mono', monospace;
  color:white;
  text-shadow: 3px 3px grey;
}

#paintinVisual {
  border:5px solid white;
  border-radius: 10px;
}

.adminCategories {
  color:white;
  font-family: 'IBM Plex Mono', monospace;
  font-size:20px;
  font-weight: bold;
}



